*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#141414;
color:white;
}

.top-nav{
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
background:#0f0f0f;
position:sticky;
top:0;
z-index:100;
}

#search{
width:350px;
padding:12px;
border:none;
border-radius:8px;
}

.content{
padding:20px;
}

section{
margin-bottom:50px;
}

.media-row{
display:flex;
gap:20px;
overflow-x:auto;
padding-top:15px;
}

.media-card{
min-width:220px;
position:relative;
transition:.3s;
cursor:pointer;
}

.media-card:hover{
transform:scale(1.05);
}

.media-card img{
width:100%;
border-radius:12px;
}

.platform-badge{
position:absolute;
top:10px;
right:10px;
background:#e50914;
padding:5px 10px;
border-radius:20px;
font-size:12px;
}

.title{
margin-top:10px;
font-weight:bold;
}
